<!--Template for populating the table with contacts-->
<tr>
  <td>{{contactID}}</td>
  <td>{{contact.firstName}} {{contact.surname}}</td>
  <td>{{contact.phone}}</td>
  <td>{{contact.mobile}}</td>
  <td><button {{action "deleteContact" contactID}}>Delete Contact</button></td>
</tr>

